{erl_opts, [debug_info]}.
{minimum_otp_vsn, "23"}.
{deps, [
    {base64url, ".*", {git, "https://github.com/dvv/base64url", {tag, "1.0.1"}}},
    {fast_xml, ".*", {git, "https://github.com/processone/fast_xml", {tag, "1.1.45"}}},
    {idna, ".*", {git, "https://github.com/benoitc/erlang-idna", {tag, "6.0.0"}}},
    {stringprep, ".*", {git, "https://github.com/processone/stringprep", {tag, "1.0.24"}}},
    {uuid, ".*", {git, "https://github.com/avtobiff/erlang-uuid", {tag, "v0.5.2"}}},
    {jiffy, "1.0.8"},
    {cowboy, "2.8.0"}
]}.

{erl_first_files, ["src/ejabberd_config.erl", "src/gen_mod.erl"]}.

{erl_opts, [nowarn_deprecated_function,
            % debug_info,
            {i, "include"},
            {i, "apps/*/include"}]}.


{plugins, [rebar3_hex, {provider_asn1, "0.2.0"}
                      % ,{relflow, ".*", {git, "https://github.com/RJ/relflow.git", {branch, "master"}}}
                      , {rebar3_appup_plugin, "2.4.4"}
                      ,{rebar3_format, "1.0.1"}]}.

{sub_dirs, ["rel"]}.

{keep_build_info, true}.

% {xref_warnings, false}.

{xref_checks,  [
	undefined_function_calls,
	locals_not_used,
	deprecated_function_calls
]}.


{overrides, [
  {del, [{erl_opts, [warnings_as_errors]}]}
]}.

{relx, [{release, {asset_manager, "0.0.1"},
         [asset_manager]}
        , {exclude_apps, [stringprep, rebar3_format]}
        % , {mode, dev}
        , {dev_mode, true}
        % , {dev_mode, false}
        ,{include_erts, true}

        %% automatically picked up if the files
        %% exist but can be set manually, which
        %% is required if the names aren't exactly
        %% sys.config and vm.args
        , {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},
      {overlay, [{mkdir, "stage"}
              % , {copy, "config/ejabberdctl.cfg", "config/ejabberdctl.cfg"}
            ]}

        %% the .src form of the configuration files do
        %% not require setting RELX_REPLACE_OS_VARS
        %% {sys_config_src, "./config/sys.config.src"},
        %% {vm_args_src, "./config/vm.args.src"}
]}.


{dist_node, [
    {setcookie, 'ams_cookie'},
    {name, 'ams@192.168.31.126'}
]}.


% {provider_hooks, [
%     {pre, [{tar, {appup, tar}}]},
%     {post, [{compile, {appup, compile}},
%             {clean, {appup, clean}}]}
% ]}.

{profiles, [
                {dev, [ {erl_opts, [no_debug_info]},
                        {relx,[
                                  {sys_config, "./config/dev_sys.config"}
                                  ,{debug_info, strip}
                                  ,{dev_mode, false}
                                  ,{include_erts, true}
                              ]
                        }
                      ]
                }
                ,{prod, [  {erl_opts, [no_debug_info]},
                           {relx,
                                [
                                  {sys_config, "./config/prod_sys.config"}
                                  ,{debug_info, strip}
                                  ,{dev_mode, false}
                                  %  ,{mode, prod}
                                  ,{include_erts, true}
                                ]
                            }
                        ]
                }
           ]
}.